body {
  background-color: #242424;
  color: #5ed9fc;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.inputField {
  background-color: grey;
  border-radius: 1rem;
  border: 2px solid #5ed9fc;
  color: #5ed9fc;
}

.addBtn {
  margin: 1rem;
  border-radius: 1rem;
  border: 2px solid #5ed9fc;
}

.removeBtn {
  margin-left: 2rem;
  border-radius: 1rem;
  border: 2px solid #242424;
}

.list {
  list-style: none;
}

.items {
  width: 50vh;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 1rem;
  background-color: grey;
}
